
<!-- Include header  -->
<%- include partials/header %>
<!-- Include js files-->
<%- include partials/mainJS %>  
   <!-- Main -->
   <div id="main">
        <!-- testimonial -->
  
          <section id="testimonial" class="four">
            <div class="container">
              <header>
                <h2>Guest Book</h2>
              </header>
              <p>Please confirm your email and password to delete the messsage.</p>
  
              <!-- Display message -->
              <% if (messages.postFailMsg) { %>
              <div class="subMessage">
                <p class="message-text"> <%= messages.postFailMsg %></p>
                <div id="message-close"><a href="#"><img src="/img/close.svg"></a></div>
              </div>
              <% } %>
  
              <!-- delete autho form area -->
              <form action="../delete" method="post" class="delete-form">
                <fieldset>
                    <div class="form">
                        <div class="email">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="email" placeholder="E-mail" maxlength="50" required>
                        </div>
                        <div class="password">
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" placeholder="password" required minlength="6" maxlength="20"
                                required>
                        </div>
          
                            <input id="id" type="text" name="id" value="<%= id %>">
  
                        <div class="col-12">
                            <button type="submit" id="submit" class="submit" value="delete"> Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            </section>
          </div>

    <!-- Include js file-->
    <%- include partials/layerCloseJS %>

    <!-- Include footer -->
    <%- include partials/footer %>
